.buttonStyle{
    background-color: rgb(40, 40, 224);
    color: white;
    border-radius: 5px;
    border: 0px;
}
.primary{
    color: blueviolet;
}
.primary2{
    color: coral;
    font-weight: 700;
}
.card{
    margin:20px;
}
.exrta{
    display: none;
}
#spinner{
    display:none;
}