.buttonStyle{
    background-color: rgb(20, 13, 87);
    color: white;
    border-radius: 5px;
    border: 0px;
    margin: 5px;
    padding: 10px;
}
.primary{
    color: rgb(32, 154, 190);
}
.primary2{
    color: coral;
    font-weight: 700;
}
.card{
    margin:20px;
}
.exrta{
    display: none;
}
#spinner{
    display:none;
}
.warning{
    color: blue ;
}